/* .Header{
    color: aliceblue;
    font-size: 10px;
    padding-top: 3%;
} */
.dashbordfirstimage{
    padding: 10%;
}
.dashbordcontent{
    padding: 3%;
}
.Header{
    width: 100%;
    height: 1%;
    display: none;
    margin: auto;
    padding: 0;
    display: block;
    text-align: center;
    background-color: black;
   
    font-size: 10px;
    /* padding-top: 3%; */
}
.footer{
    width: 100%;
    display: none;
    margin: auto;
    padding: 0;
    display: block;
    text-align: center;
    background-color: black;
    height: 110%;
}
.address{
    padding: 3%;
}
.icon{
    padding: 1%;
    size: 2%;
}


#h4{
    color: aqua;
    font-family: "Times New Roman", Times, serif;
}
#a{
    padding: 30px;
}
#b{
    padding: 30px;
}
#c{
    padding: 30px;
}
#d{
    padding: 30px;
}
.body1{
    /* background: url(../images/blank.jpg); */
background-color: aliceblue;
    height: 150%;
    padding: 10px;
}
#java{
    padding: 5px;
}
.raman{
    border-radius: 50px;
    height: 100;
    widows: 100;
}
.balu{
    border-radius: 50px;
    height: 100;
    widows: 100;
}
.padma{
    border-radius: 50px;
    height: 100;
    widows: 100;
}
.java1{
    border-radius: 50px;
    height: 100;
    widows: 100;
}
.languagebutton{
    color: rgb(8, 87, 20);
    border:solid 2px rgb(8, 87, 20);
    font-size: 15px;
    background-color: rgb(31, 32, 33);
    border-radius: 3px solid;
    height: 30px;
    width: 160%;
    margin: 10%;
   
}
.languagebutton:hover{
    background-color:  rgb(8, 87, 20);
    color: aliceblue;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.authorbutton{
    color: rgb(8, 87, 20);
    border:solid 2px rgb(8, 87, 20);
    font-size: 15px;
    height: 30px;
    background-color: rgb(31, 32, 33);
    border-radius: 3px solid;
    width: 150%;
    margin: 10%;
}
.authorbutton:hover{
    background-color:  rgb(8, 87, 20);
    color: aliceblue;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.solutionbutton{
    color: rgb(8, 87, 20);
    border:solid 2px rgb(8, 87, 20);
    font-size: 15px;
    height: 30px;
    background-color: rgb(31, 32, 33);
    border-radius: 3px solid;
    width: 150%;
    margin: 10%;
}
.solutionbutton:hover{
    background-color:  rgb(8, 87, 20);
    color: aliceblue;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.pricebutton{
    color: rgb(8, 87, 20);
    border:solid 2px rgb(8, 87, 20);
    font-size: 15px;
    height: 30px;
    background-color: rgb(31, 32, 33);
    border-radius: 3px solid;
    width: 150%;
    margin: 10%;
}
.pricebutton:hover{
    background-color:  rgb(8, 87, 20);
    color: aliceblue;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.likebutton{
    background-color: cornflowerblue;
color:white;
border-radius: 3px solid;
}
.clickbutton{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
}
.clickbutton1{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
}
#net{
    /* border: 0px  0px 5px 0px solid; */
    border-bottom-style: dotted;
    border-color: black;
    padding: 1% 2% 1% 2%;
    margin: 1%;
    /* border-bottom: 5px solid; */
}
 #cpg{
    /* border-bottom: 5px solid; */
    border-bottom-style: dotted;
    border-color: black;
    padding: 1% 2% 1% 2%;
    margin: 1%;
} 
 #java{
    border-bottom-style: dotted;
    /* border-bottom: 5px solid; */
    border-color: black;
    padding: 1% 2% 1% 2%;
    margin: 1%;
} 
#sqlb{
    border-bottom-style: dotted;
    /* border-bottom: 5px solid; */
    border-color: black;
    padding: 1% 2% 1% 2%;
    margin: 1%;
}
.color{
 color: cornflowerblue;
}
/* .one {
	display: none;
	width: 50px;
	position: absolute;
	margin: 0;
	bottom: 100px;
	background: #e81050;
	z-index: 1;
} */
.hideicn {
	font-size: 25px;
	margin: 10px;
}