.Header{
    width: 100%;
    display: none;
    margin: auto;
    padding: 0;
    display: block;
    text-align: center;
    background-color: black;
    height: 90px;
}
#signup{
    color: white;
    border:solid 2px white;
    font-size: 15px;
    /* background-color: rgb(31, 32, 33); */
    border-radius: 3px solid;
    width: 100%;
    margin: 30%;
   
}
#signup:hover{
    background-color:  rgb(8, 87, 20);
    color: aliceblue;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
#signin{
    color: white;
    border:solid 2px white;
    font-size: 15px;
    /* background-color: rgb(31, 32, 33); */
    border-radius: 3px solid;
    width: 100%;
    margin: 30%;
}
#signin:hover{
    background-color:  rgb(8, 87, 20);
    color: aliceblue;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
/* .body{
    background: url(../images/raaa.jpg);
   width: 100%;
   height: 750px;
} */

#h3{
    margin: 3%;
}
/* .footer1{
    width: 100%;
    display: none;
    margin: auto;
    padding: 0;
    display: block;
    
    background-color: black;
    height: 150px;
} */
.address{
    padding: 3%;
}
.icon{
    padding: 1%;
   
}

#twitter:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
#facebook:hover{
    -webkit-transform: rotateZ(-40deg);
    -ms-transform: rotateZ(-40deg);
    transform: rotateZ(-40deg);
}
#whatsapp:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
#skype:hover{
    box-shadow: inset 0 0 0 25px #53a7ea;
}
#email:hover{
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}
#linkedein:hover{
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
}
#h4{
    color: white;
    font-family: "Times New Roman", Times, serif;
}
#name{
    color:white;
    font-family:Snell Roundhand;
    margin: 6%;
}
.regimage{
    margin: 20% 10% 20% 10%;
    width: 100%;
    height: 400px;
}
.regimage:hover{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
#copy{
  color: white;
}
.signupbody{
    margin: 3% 10% 5% 5%;
}

.red{
    color: red;
    font-family: bold;
    font-size: 20px;
}
.signintext{
    color: black;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    padding-top: 10px;
}
.quotes {
    width: 100%;
    height: 200%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 2;
  }
  
  .quotes .box {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 320px;
    background: #f2f2f2;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 2;
    box-sizing: border-box;
    padding: 30px;
    box-shadow: -10px 25px 50px rgba(0, 0, 0, 0.3);
  }
  
  .quotes .box::before {
    content: '\201C';
    position: absolute;
    top: -20px;
    left: 5px;
    width: 100%;
    height: 100%;
    font-size: 120px;
    opacity: 0.2;
    background: transparent;
    pointer-events: none;
  }
  
  .quotes .box::after {
    content: '\201D';
    position: absolute;
    bottom: -10%;
    right: 5%;
    font-size: 120px;
    opacity: 0.2;
    background: transparent;
    filter: invert(1);
    pointer-events: none;
  }
  
  .quotes .box p {
    margin: 0;
    padding: 10px;
    font-size: 1.2rem;
  }
  
  .quotes .box h2 {
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 10%;
    right: 10%;
    font-size: 1.5rem;
  }
  
  .quotes .box:hover {
    color: #f2f2f2;
    box-shadow: 20px 50px 100px rgba(0, 0, 0, 0.5);
  }
  
  .quotes .bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: all 0.5s ease-in;
    pointer-events: none;
    width: 100%;
    height: 200%;
    overflow: hidden;
  }
  
  .quotes .box.box1:hover,
  .quotes .box.box1:hover~.bg {
    opacity: 1;
    background: #e2a9e5;
  background: -moz-linear-gradient(-45deg, #e2a9e5 15%, #2b94e5 100%);
  background: -webkit-linear-gradient(-45deg, #e2a9e5 15%,#2b94e5 100%);
  background: linear-gradient(135deg, #e2a9e5 15%,#2b94e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2a9e5', endColorstr='#2b94e5',GradientType=1 );
  }
  
  .quotes .box.box2:hover,
  .quotes .box.box2:hover~.bg {
    opacity: 1;
    background: #632c65;
  background: -moz-linear-gradient(-45deg, #632c65 15%, #56a5e2 100%);
  background: -webkit-linear-gradient(-45deg, #632c65 15%,#56a5e2 100%);
  background: linear-gradient(135deg, #632c65 15%,#56a5e2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#632c65', endColorstr='#56a5e2',GradientType=1 );
  }
  
  .quotes .box.box3:hover,
  .quotes .box.box3:hover~.bg {
    opacity: 1;
    background: #4b384c;
  background: -moz-linear-gradient(-45deg, #4b384c 15%, #da5de2 100%);
  background: -webkit-linear-gradient(-45deg, #4b384c 15%,#da5de2 100%);
  background: linear-gradient(135deg, #4b384c 15%,#da5de2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b384c', endColorstr='#da5de2',GradientType=1 );
  }
  .element {
    width: 100%;
    height: 100%;
    animation: pulse 5s infinite;
  }
  
  @keyframes pulse {
    100% {
        background-color: #FF4136;
      }
    100% {
      background-color: #001F3F;
    }
   50%{
       background-color: slategrey;
   }
    
    
    10%{
        background-color: darkslategray;
    }
  }
  .signinbox1{
    /* border: 15px solid #53a7ea; */
    /* margin: 2px; */
    padding: 2px;
    animation: pulse 5s infinite;
  }
  .input_box {
    margin: 2px;
    /* opacity: .6%; */
    color: white;
      width: 100%;
      margin-bottom: 10px;
      height: 40px;
      font-weight: bold;
      background-color: #53a7ea;
      font-family: sans-serif;
      /* border : solid 0px rgb(53, 28, 237);     */
  }
  .input_box:hover{
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      background-color:white;
      color: blue;
  }
  .logo{
    margin-left: 5%;
  }

  /* .element1 {
    width: 100%;
    height: 20%;
    text-align: center;
    animation: pulse 5s infinite;
  }
  
  @keyframes pulse {
    100% {
        background-color: #FF4136;
      }
    100% {
      background-color: #001F3F;
    }
   50%{
       background-color: slategrey;
   }
    
    
    10%{
        background-color: darkslategray;
    }
  } */